

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Categories", "Index", "Categories",null,new { @class="btn btn-primary"})
</p>

